{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center nav-pills" href="{% url 'posts:index' %}" style="text-decoration: none;">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="ms-2" style="color:red">Ya</span>tube
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavigation" aria-controls="navbarNavigation" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavigation">
        {% with request.resolver_match.view_name as view_name %}
          <ul class="navbar-nav mb-2 mb-lg-0 nav nav-pills">
            {% if user.is_authenticated %}
              <!-- Пункты меню для авторизованного пользователя -->
              <li class="nav-item "> 
                <a class="nav-link {% if view_name == 'about:author' %}active text-white{% endif %}"
                  href="{% url 'about:author' %}">Об авторе</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if view_name == 'about:tech' %}active text-white{% endif %}"
                  href="{% url 'about:tech' %}">Технологии</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link {% if view_name  == 'posts:post_create' %}active text-white{% endif %}"
                href="{% url 'posts:post_create' %}">Новая запись</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link {% if view_name  == 'users:password_change_form' %}active text-white{% endif %}"
                href="{% url 'users:password_change_form' %}">Изменить пароль</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link {% if view_name  == 'users:logout' %}active text-white{% endif %}"
                href="{% url 'users:logout' %}">Выйти</a>
              </li>
              <li class="nav-item">
                Пользователь: {{ user.username }}
              </li>
            {% else %}
              <!-- Пункты меню для неавторизованного пользователя -->
              <li class="nav-item"> 
                <a class="nav-link {% if view_name  == 'about:author' %}active text-white{% endif %}" 
                href="{% url 'about:author' %}">Об авторе</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if view_name  == 'about:tech' %}active text-white{% endif %}"
                href="{% url 'about:tech' %}">Технологии</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link {% if view_name  == 'users:login' %}active text-white{% endif %}"
                href="{% url 'users:login' %}">Войти</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link {% if view_name  == 'users:signup' %}active text-white{% endif %}"
                href="{% url 'users:signup' %}">Регистрация</a>
              </li>
            {% endif %}
          {% endwith %}
        </ul>
      </div>
    </div>
  </nav>
</header>
