{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {{ user.get_full_name }} Профайл пользователя
{% endblock %}

{% block content %}      
        <h1>Все посты пользователя {{ user.get_full_name }} </h1>
        <h3>Всего постов: {{ page_obj.paginator.count }} </h3>
        {% for post in page_obj %}
            <article>
                <ul>
                    <li>
                        Дата публикации: {{ post.pub_date }}
                    </li>
                </ul>
                {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                    <img class="card-img my-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {%endthumbnail%}
                <p>
                    {{ post.text }}
                </p>

                
                <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a><br>
                {% if post.group %}
                <a href="{% url 'posts:group_posts' slug=post.group.slug %}">все записи группы</a><br>
                {% endif %}

                {% if request.user == post.author %}
                <a href="{% url 'posts:post_edit' post.pk %}">редактировать</a>
                {% endif %}

                {% if not forloop.last %}<hr>{% endif %}
            </article>
        {% endfor %}
        <div class="pagination">
            {% include 'posts/includes/paginator.html' %}
        </div>
{% endblock %}
