{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Введите новый пароль
        </div>
        <div class="card-body">
          {% if validlink %}
            {% if validlink %}
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_new_password1">Новый пароль:</label>
                <input type="password" name="new_password1" id="id_new_password1" class="form-control">
              </div>
              <div class="form-group">
                <label for="id_new_password2">Подтверждение нового пароля:</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
            </form>
            {% endif %}
          {% else %}
          <div class="alert alert-danger">
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
